// css reset 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// import font 

// ini css nya

body{
	background: linear-gradient(white, #ececff);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;

}
.container{
	width: 80%;
	height: 100%;
	margin: auto;
	// background-color: aqua;

}
.navbar{
	background-color: #3b5998;
	width: 100%;
	height: 80px;
	margin-bottom: 40px;
	.left{
		margin-top: 30px;
		margin-left: 50px;
		float: left;
		display: inline-block;

		 a{
			color: #3b5998;
		 }
		h1 {
			font-family: 'klavikaboldwebfont'; 
			font-size: 30px;
			color: 	#f7f7f7; 
		}
	}

	.right{
		float:right;
		margin-top: 35px;
		
		 .login{
			 font-size: 12px;
			 border-color: rgb(56, 41, 187);
			 font-family: arial;
			 color: white;
			 background-color: #3b5998;
		 }
	}
	
}
.konten{
	

	.section-konten{
		justify-content: center;
		margin: 0 auto;
		display: flex;
		.section-daftar{
			padding-left: 500px;
			margin-bottom: 40px;
			.judul{
				h1{
					font-family: arial;
					font-weight: bold;
					font-size: 36px;
					font-weight: 600;
				}
				h2{
					margin-top: 11px;
					margin-bottom: 11px;
					font-family: arial;
					font-size: 18px;
					color: #353434;
				}
			}

			.daftar{

					.inputNama{
						margin-top: 25px;
						margin-bottom: 10px;
						display: flex;
						input{
							border-radius: 4px;
							border:unset;
							font-size: 18px;
							padding: 7px;
						}

						.depan{
							width: 60%;
							background: white;
							border-radius: 7px;
							border: 1px solid #bdc7d8;
							overflow: hidden;
						}
						.belakang{
							width: 60%;
							background: white;
							border-radius: 7px;
							border: 1px solid #bdc7d8;
							overflow: hidden;}
						
						
					}
					.inputNomor{
						margin-top: 10px;
						width: 470px;
							background: white;
							border-radius: 7px;
							border: 1px solid #bdc7d8;
							overflow: hidden;

						input{
							border-radius: 4px;
							border:unset;
							font-size: 18px;
							padding: 7px;
							width: 470px;
						}
					}
					.inputPass{
						margin-top: 10px;
						width: 100%;
						background: white;
						border-radius: 7px;
						border: 1px solid #bdc7d8;
						overflow: hidden;

						input{
							border-radius: 4px;
							border:unset;
							font-size: 18px;
							padding: 7px;
							width: 100%;
						}
					}

					.ttl{
						h5{
							margin-top: 30px;
							font-size: 20px;
							color: #90949c;
							font-family: Arial, Helvetica, sans-serif;
							font-weight: bold;
							margin-bottom: 10px;
						}
						select{
							border: 1px solid #ccd0d5;
							font-size: 15px;
							background-color: #fff;
							color: #1c1e21;
							height: 35px;
							width: 90px;
							padding: 5px;
							margin: 0px;
							margin-left: -4px;
						}
					}

					.gender{
						margin-top: 25px;
						margin-bottom: 30px;
						h5{
							font-size: 20px;
							color: #90949c;
							font-family: Arial, Helvetica, sans-serif;
							font-weight: bold;
							margin-bottom: 10px;
						}

						.input{
							font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
							color: #1d2129;
							font-size: 18px;
							font-weight: normal;
							line-height: 18px;
							padding: 0 10px 0 3px;
						}
					}
					p{
						color: #777;
						font-size: 14px;
						width: 406px;
						line-height: 20px;
					}
					
					button{
						margin-top: 20px;
						font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
						font-weight: bold !important;
						font-size: 19px;
						letter-spacing: normal;
						text-rendering: optimizelegibility;
						/*box-shadow: inset 0 1px 1px #a4e388;*/
						border:1px solid;
						border-color: #3b6e22 #3b6e22 #2c5115;
						background: linear-gradient(#67ae55, #578843);
						background-color: #69a74e;
						border-radius: 5px;
						color: #fff; 
						cursor: pointer;
						display: inline-block;
						letter-spacing: 1px;
						position: relative;
						text-shadow: 0 1px 2px rgba(0,0,0,.5);
						min-width: 194px;
						padding: 7px 20px;
						text-align: center;
						
					}

				}
		}
	}
}

// clearfix
/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
